html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-image: url('/background-hello.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
}

.page {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
