* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  color: white;
  text-align: center;
  background-image: url("/images/background-hello.jpg");
  background-size: cover;
  background-position: center center;
}

a {
  color: inherit;
}

body.route-projects {
  background-color: rgb(19, 19, 19);
  background-image: none;
  color: white;
  text-align: center;
}

body.route-posts {
  background-color: rgb(15, 15, 15);
  background-image: none;
  color: white;
  text-align: left;
}
