.page {
  min-height: 95vh;
  font-size: 20px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.page h1 {
  color: white;
  font-size: 2.2em;
  margin: 0;
}

.page p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 1.2;
  font-family: Menlo, Tahoma, Geneva, Verdana, sans-serif;
  margin: 14px 0 0;
}

.page .icons {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.page .fa-social-icons {
  color: rgb(255, 255, 255, 0.85);
  font-size: 1.35em;
  transition: 0.3s;
}

.page .fa-social-icons:hover {
  color: white;
  transform: translateY(-2px);
}

.page .my-works {
  margin-top: 22px;
}

.page .my-works-a {
  color: rgba(41, 151, 255, 1);
  text-decoration: none;
  font-size: 0.95em;
}

.page .my-works a:hover {
  text-decoration: underline;
}

.page .my-works .fa-chevron-right {
  margin-left: 10px;
  font-size: 0.8em;
  color: rgba(41, 151, 255, 1);
}

.page .footer {
  color: rgba(255, 255, 255, 0.2);
  margin-top: auto;
  padding-bottom: 10px;
  width: 100%;
  font-size: 0.6em;
}

@media (max-width: 500px) {
  .page {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .page {
    font-size: 12px;
  }
}
