html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-image: url('/background-hello.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
