html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-image: url('/background-hello.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
}

.page {
  padding: 64px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page h1 {
  margin: 0;
  padding-top: 30px;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.page h3 {
  margin: 0 0 52px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 1;
  font-family: Menlo, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-social-icons {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.5em;
  transition: 0.3s;
}

.fa-social-icons:hover {
  color: #fff;
  transform: translateY(-2px);
}

.github-icon {
  margin: 0 25px;
}

.ytb-icon {
  margin-left: 25px;
}

/* @media (max-width: 500px) {
  body {
    font-size: 15px;
  }

  .fa-social-icons {
    padding-top: 20px;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  .fa-social-icons {
    padding-top: 15px;
  }
} */
